


#assemblerpic{
          width: 100%;
          height: 160px;
      }
      #cpic{
          width: 100%;
          height: 160px;
      }
      #cpluspic{
          width: 100%;
          height: 160px;
      }
    
    #pythonpic{
          width: 100%;
          height: 160px;
      }
       #qtpic{
          width: 100%;
           height: 160px;
      }
      
      }
      #rubypic {
	width: 100%;
          height: 160px;
}
      #htmlcsspic{
          width: 100%;
          height: 160px;
      }
      #javascpic{
          width: 100%;
          height: 160px;
      }
      #jquerypic{
          width: 100%;
          height: 160px;
      }
     #angularjspic{
          width: 100%;
          height: 160px;
      }
      #djangopic{
          width: 100%;
          height: 160px;
      }
      #phpic{
          width: 100%;
          height: 160px;
      }
      #phpmysqlpic{
          width: 100%;
          height: 160px;
      }
      #pythonqtpic {
	  width: 100%;
       height: 160px;
      }
      #csharpic {
	width: 100%;
          height: 135px;
}
      #objectivecpic {
	width: 100%;
          height: 160px;

      }
      #swiftpic {
	width: 100%;
          height: 150px;
}
      #arduinopic {
	width: 100%;
          height: 160px;
}
      #picprogpic {
	width: 100%;
          height: 160px;
}
      #sqlpic {
	width: 100%;
          height: 160px;
}
      #mysqlpic {
	width: 100%;
          height: 160px;
}
      #oraclepic {
	width: 100%;
          height: 160px;
}
      #etichackingpic {
	width: 100%;
          height: 160px;
}
      #etikxakerpic {
	width: 100%;
          height: 160px;
}
      #internetpic {
	width: 100%;
          height: 160px;
}
      #passwmetod {
	width: 100%;
          height: 160px;
}
      #kalipic {
	width: 100%;
          height: 160px;
}
      #metasploitpic {
	width: 100%;
          height: 160px;
}
      #windowspic{
          width: 100%;
          height: 160px;
      }
      #ubuntupic{
          width: 100%;
          height: 160px;
      }
      #kalilinuxospic{
          width: 100%;
          height: 160px;
      }
      #centos {
          width: 100%;
          height: 160px;
        }
    
	
}













.courses{
    cursor: pointer;
    
    
}
.courses ul {
   
    margin-left: 100px;
    margin-top: 30px;
    width: 1200px;
    margin: 8px;
	display: inline-block;
}
.courses ul li{
    display: inline-block;
    text-decoration: none;
    list-style: none;
    float: left;
    margin: 8px;
    font-size: 15px;
    
    font-family:Palette serif;
    background-color:white;
    width: 250px;
    height: 280px;
    border: solid 0.5px silver;
     -webkit-transition:width 1s,-webkit-transform 1s;    
   
    transition-duration: 0.9s;
    animation-name: zoom;
    animation-duration: 0.1s;
    
    
    
}
.courses ul li a{
    
    text-decoration: none;
    color:black;
    list-style: none;
    
    
    
}
.courses ul li a:focus{
    outline: none;
}
.courses ul li a span {
    margin-top: 10px;
    padding-left: 10px;
	
}

	

p{
    color:black;
    font-size: 22px;
    font-family: Georgia, serif;
}
.courses ul li:hover {
    opacity: 0.6s;
    color: white;
    right: 0;
    transform: scale(1.1);
  
    
	
}

.assembler_about{
    width: 800px;
    height: 800px;
    background-color: cornflowerblue;
    margin-left: 55px;
    color: black;
    font-size: 12px;
}

