<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  
    <link rel="stylesheet" type="text/css" href="/css/style.css">


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  
 </head>
<body>


    <div class="card-deck">
  <div class="card">
   <!--r <img class="card-img-top" src="..." alt="Card image cap">-->
    <div class="card-body">
      <h5 class="card-title" style="font-family: sans-serif;color:dodgerblue;text-align: center">CRISPR Cas9</h5>
     <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/az_AZ/sdk.js#xfbml=1&version=v2.12&appId=1520535437976403&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
        
        <div class="fb-video" data-href="https://www.facebook.com/mybestbrains/videos/1722168347842648/" data-width="500" data-show-text="false"><blockquote cite="https://www.facebook.com/mybestbrains/videos/1722168347842648/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/mybestbrains/videos/1722168347842648/">CRISPR - CAS9</a><p></p>Posted by <a href="https://www.facebook.com/mybestbrains/">AcademyBrain</a> on Bazar günü, 15 Aprel 2018</blockquote></div>
        
        
      </div>
        
        </div>
        
        
        
  <div class="card">
    <div class="card-title">
       <h5 class="card-title" style="font-family: sans-serif;color:dodgerblue;text-align: center;margin-top: 15px;">Da Vinçi şifrəsi</h5>
      </div>
    <div class="card-body">
     <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/az_AZ/sdk.js#xfbml=1&version=v2.12&appId=1520535437976403&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <div class="fb-video" data-href="https://www.facebook.com/mybestbrains/videos/1717364488323034/" data-width="500" data-show-text="false"><blockquote cite="https://www.facebook.com/mybestbrains/videos/1717364488323034/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/mybestbrains/videos/1717364488323034/">Da Vinçi şifrəsi kitabına ümumi baxış</a><p>#the davinci code</p>Posted by <a href="https://www.facebook.com/mybestbrains/">AcademyBrain</a> on Çərşənbə axşamı, 10 Aprel 2018</blockquote></div>
        
      </div>          
        
        </div>  
        
        
        
  <div class="card">
   <div class="card-title">
      <h5 style="color:dodgerblue;margin-top: 15px;text-align: center">Facebook səhifəmiz</h5>
      </div>
        <div id="fb-root" ></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/az_AZ/sdk.js#xfbml=1&version=v2.12&appId=1520535437976403&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
      <div class="fb-page" data-href="https://www.facebook.com/mybestbrains/" data-tabs="none" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" style="text-align: center;"><blockquote cite="https://www.facebook.com/mybestbrains/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/mybestbrains/">AcademyBrain</a></blockquote></div>
      
      <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/az_AZ/sdk.js#xfbml=1&version=v2.12&appId=1520535437976403&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
     <div class="fb-share-button" data-href="https://www.facebook.com/mybestbrains/?ref=bookmarks" data-layout="button_count" data-size="large" data-mobile-iframe="true" style="text-align: center"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.facebook.com%2Fmybestbrains%2F%3Fref%3Dbookmarks&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Paylaş</a></div>
    
        
    </div>
  </div>

    
    
    </body>


</html>